spring:
  datasource:
    url: jdbc:mysql://101.132.195.170:3306/bifrost?useUnicode=true&characterEncoding=utf8&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

redis:
  database: 0
  host: 127.0.0.1
  port: 6379
  password: